<dialog open={assigns[:show_dialog]} id="feedback-dialog">
  <.form for={@form} id="feedback-form" phx-submit="submit">
    <.input field={@form[:emoji]} type="text" label="Emoji" />
    <button type="submit">Submit</button>
  </.form>
</dialog>

<div id="emoji" :for={feedback <- @feedbacks}>
  <span><%= feedback.emoji %></span>
</div>
